<VirtualHost *:80>

	ServerAdmin <%= $conf->{"admin"} %> 
	DocumentRoot <%= $conf->{"document_root"} %>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet